version: '3.9'

services:
  mongo:
    image: mongo
    container_name: mongo_tarefas
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  api:
    build: .
    container_name: api_tarefas
    expose:
      - "3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/tarefasdb
      - PORT=3000
    depends_on:
      - mongo

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./public:/usr/share/nginx/html:ro
    depends_on:
      - api

volumes:
  mongodb_data:
